@import url('./colors.css');

.container {
    background-color: white;
    height: calc(100% - 5rem);
    padding-top: 5rem;
}

.headerContainer {
    height: 5rem;
    background-color: var(--light-yellow);
    box-shadow: 2px 2px 5px rgb(0 0 0 / 17%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.goBack {
    width: 2rem;
}

.subHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 4rem;
    background-color: #EEEEF1;
    color: var(---gray);
}

.locationContainer {
    display: flex;
    align-items: center;
}


.smallIcon {
    width: 1rem;
    height: 1rem;
}